{% extends "base.html" %}

{% block title %} SecuCart home {% endblock %}

{% block content %}

{% load static %}

<div class="jumbotron">
  <h1>SecuCart</h1>
  <p class="lead">
    Welcome to SecuCart, the most securest of all shopping carts on teh webs.
  </p>
  <p><a class="btn btn-lg btn-success" href="#" role="button" ng-click='setInv(true)'>Inventory</a></p>
  <p><a class="btn btn-lg btn-success" href="#" role="button" ng-click='setInv(false)'>Shopping Cart</a></p>
  <div ng-include="{% static "assets/partials/inventory.html "%}" ng-show='inventory'></div> 
  <div ng-include="{% static "assets/partials/shopping_cart.html "%}" ng-show='!inventory'></div>
  {% if user.is_authenticated %}
    <p>Welcome {{user}}</p>
  {% else %}  
    <p><a class="btn btn-lg btn-success" href="login?next='index'" role="button">Log in</a></p>
  {% endif %}  
</div>


{% endblock %}
