{% extends "base.html" %}
{% block content %}
<br>
<br>
<br>
<br>
<div>
	<table>
		<tr>
			<th>Name</th>
			<th>Description</th>
			<th>Quantity</th>
		</tr>
		{% for item in items %}
		<tr>
			<td>{{item.name}}</td>
			<td>{{item.description}}</td>
			<td>{{item.quantity}}</td>
			<form action="/inventory/" method="POST">
				<td><input type="number" name="item_number"></td>
				<td><input type="submit" name="{{item.name}}"value="Add to Cart"></td>
			</form>
		</tr>
		{% endfor %}
	</table>
</div>
{%endblock%}